

.bgImg,
.formWrap {
  height: 100vh;
  min-height: 500px;
}

.bgImg {
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  height: 200px;
  min-height: 200px;
  z-index: 2;
  
}

@media (min-width: 768px) {
  .bgImg {
    position: fixed;
    width: 50%;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .bgImg {
    position: fixed;
    width: 50%;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .bgImg {
    position: fixed;
    width: 60%;
    height: 100vh;
  }
}

.formWrap {
  right: 0;
  position: relative;
  z-index: 1;
  padding: 5%;
  width: 100%;
  background: #fff;
  height: 100%;
}

@media (min-width: 768px) {
  .formWrap {
    position: absolute;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .formWrap {
    position: absolute;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .formWrap {
    position: absolute;
    width: 40%;
  }
}

.formWrap .title {
  font-size: 50px;
  color: #000;
}

.formWrap .formFloating {
  position: relative;
  margin-bottom: 15px;
}

.formControl {
  height: 60px !important;
  border-radius: 10px !important;
}

.formControl:active, .formControl:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #7754F6;
}

.showTog{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 9;
}

.toggleSpan {
  font-size: 20px;
}

.toggleSpan:before {
  font-family: 'unicons-line';
  content: "\ebf8";
}

.showTog.active span:before {
  content: "\ebaf";
}

.formCheck {
  margin-bottom: 30px;
}

.formCheckInp {
  border-color: #d1d1d1 !important;
}

.formCheckInp:checked {
  background-color: #7754F6;
  border-color: #7754F6 !important;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.formCheckInp:focus, .formCheckInp:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.formWrapBtn {
  border-radius: 10px;
  background-color: #7754F6;
  border-color: #7754F6;
  height: 60px;
  font-weight: 500;
  -webkit-box-shadow: 0 15px 30px -7px rgba(119, 84, 246, 0.5);
          box-shadow: 0 15px 30px -7px rgba(119, 84, 246, 0.5);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 18px;
}

.formWrapBtn:hover {
  background-color: #643cf5;
  border-color: #643cf5;
}

.formWrap .socialWrap {
  padding-top: 30px;
  padding-bottom: 50px;
}

.socialWraph4 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  position: relative;
}

.socialWraph4Span {
  z-index: 1;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.socialWraph4:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
  z-index: -1;
}

.socialLi {
  width: calc(25% - 0);
}

.socialA {
  display: inline-block;
  border: 1px solid #d1d1d1;
  padding: 10px;
  border-radius: 10%;
}

.socialA:hover {
  border-color: #bdbdbd;
}
/*# sourceMappingURL=style.css.map */