.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 47, 47);
  color: white;
  
  padding: 0;
  
}

.header {
  padding: .5em 4em;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  background-color: black;
  color: white;
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1001;
  
  
}

.links {
  align-items: center;
  gap: 2em;

}

.navLinks {
    gap: 2em;
}

.navBtn {
  background-color: rgb(88, 64, 243);
  color: white;
  height: 50px;
  width: 155px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  border: 0;
}

.main {
  position: relative;
  
}

.herosection {
  height: 500px;
  color: black;
}

.heroImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 20px;
  
}

.heroText {
  gap: .5em;
 
}
.menuIcon {
  padding: 10px 0;
  margin-left: 20px;
}
.loveIcon {
  height: 40px;
  width: 40px;
  font-size: 40px;
  fill: black;
  stroke-width: 3px;
  
}



.locals {
  background-color: rgb(245, 246, 247);
  border-radius: 20px;
 height: 500px;
 
}
.footer {
  background-color: black;
  color: white;
}

.colorlight {
  color: white;
}