

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


.main {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  
}




.navSearch:hover, .navSearch:focus, .navSearch:focus-visible {
  background-color: white !important;
  
}

.header {
  padding: .5em 4em;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  font-family: 'DM Sans', sans-serif;
  color: #161616;
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1001;
  
  
}

.links {
  align-items: center;
  gap: 2em;

}

.navLinks {
    gap: 2em;
}

.heroBtn {
  background-color: #468fd1;
  color: white;
  
  padding: 10px 40px;
}

.short {
  width: 420px;
}

.short h1 {
  font-weight: bolder;
  font-size: 60px;
}
.navBtn {


  background-color: #468fd1;
  color: white;
  padding: 14px 40px;
  width: 155px;

  font-size: 14px;
  border: 0;

}
.navBtn:hover {
  color: white;
  background-color: #161616;
}
.main {
  position: relative;
  
}

.herosection {
  height: 500px;
  
}

.heroImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 20px;
  
}

.heroText {
  gap: .5em;
 
}
.menuIcon {
  padding: 10px 0;
  margin-left: 20px;
}
.loveIcon {
  height: 40px;
  width: 40px;
  font-size: 40px;
  fill: black;
  stroke-width: 3px;
  
}



.locals {

  border-radius: 20px;
 height: 500px;
 
}


